@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*GENERALES*/
    *{
        --background-color:#69351E;
        --background-color-focus: #ffd592;
        --white-color:#F5F5F5;
        --cream-color:#FFD9A0;
        --cream-claro-color:#FFDBC2;
        --dark-chocolate-color:#350800;
        --medium-chocolate-color:#5F3624;
        --light-chocolate-color:#7D411D;
        --orange-dark-color:#ED6A0B;
        --orange-light-color:#F59E1C;
        font-family: 'Poppins', sans-serif;
    }
.input{
    height: 37px;
    border: 3px solid var(--background-color);
    border-radius: 0.6rem;
    font-size: 15px;
    padding-inline: 15px;
    color: var(--dark-chocolate-color)
}
.input:focus{
    outline: none;
    box-shadow: none;
    border: 3px solid var(--orange-light-color);
}
.textoGrande{
    font-size: 3.8rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 75px;
}
.textoMediano{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
}
.textoChiquito{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}
.textoChiquito2{
    font-size: 1.1rem;
}
.gradient-orange{
    background: linear-gradient(90deg, #FFCFAD 10%, var(--orange-dark-color) 100%);
    color:transparent;
    -webkit-background-clip: text;
}
.gradient-orange-light{
    background: linear-gradient(90deg, var(--orange-light-color) 15%, var(--orange-dark-color) 50%);
    color:transparent;
    -webkit-background-clip: text;
}
.gradient-brown{
    background: linear-gradient(90deg, var(--light-chocolate-color) 15%, var(--dark-chocolate-color) 100%);
    color:transparent;
    -webkit-background-clip: text;
}
.w-70{
    width: 70%!important;
}
.w-65{
    width: 65%!important;
}
@media  screen and (max-width: 1200px){
    .textoGrande{
        font-size: 3.2rem;
        line-height: normal;

    }
    .textoMediano{
        font-size: 1.8rem;
        line-height: normal;
    }
    .textoChiquito{
        font-size: 0.8rem;
    }

}
@media  screen and (max-width: 1000px){
    .textoGrande{
        font-size: 3rem;
        line-height: normal;

    }
    .textoMediano{
        font-size: 1.8rem;
        line-height: normal;
    }
    .textoChiquito{
        font-size: 0.8rem;
    }

}
@media  screen and (max-width: 900px){
    .textoGrande{
        font-size: 2.4rem;
        text-align: center;
    }
    .textoMediano{
        font-size: 1.4rem;
        line-height: normal;
    }
    .textoChiquito{
        font-size: 0.8rem;
        text-align: center  ;
    }
}
@media  screen and (max-width: 600px){
    .textoGrande{
        font-size: 1.5rem;
        text-align: center;
    }
    .textoMediano{
        font-size: 1.2rem;
    }
    .textoChiquito{
        font-size: 0.8rem;
        text-align: center;

    }
}

/*FIN GENERALES*/
/*INICIO NAVBAR*/
.opt{
    height: fit-content;
    text-align: end;
    color: var(--cream-claro-color)!important;
    font-family: "Inter", sans-serif!important;
    font-size: 16px!important;
    font-weight: 900!important;
    text-transform: uppercase!important;
}
.current{
    color: var(--orange-dark-color)!important;
}
.opt:hover{
    color: #c67700!important;
    cursor: pointer;
}
.options{
    gap: 35px;
}
.navbarBox{
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #7B4117;
    filter: drop-shadow(0 2px 38px #00000036);
}
.navbar-list{
    margin-right: 7rem;
    width: fit-content;
}
.icon{
    font-size: 25px!important;
}
.navbar-brand{
    filter:brightness(750%);
    margin-left: 5rem;
    height: 57px!important;
    width: auto;
}
.navbar-brand:hover{
    cursor: pointer;
}
@media screen and (max-width: 990px) {
    .opt{
        margin-right: 0;
        margin-top: 0.6rem;
        background-color: var(--light-chocolate-color) !important;
        width: calc(100vw - 3rem);
        border-radius: 0.8rem;
        color: white!important;
        font-size: 12px!important;
        font-weight: bold!important;
        font-family: "Inter", sans-serif;
        text-transform: uppercase;
        max-width: 800px;
    }
    .options{
        padding-top: 2rem!important;
        gap: 0;
    }
    .navbarBox{
        padding: 0!important;
        background-color: var(--background-color);
    }
    .navbar-toggler{
        margin-block: 1.4rem;
        margin-right: 1.4rem!important;
        scale: 0.8;
        border: none!important;
    }
    .navbar-toggler:focus{
        outline: none!important;
        border: none!important;
        box-shadow: none!important;
    }
    .navbar-list{
        background-color: var(--background-color);
        z-index: 2;
        top: 120px;
        right: 0;
        left: 0;
        width: 100vw;
        position: absolute;
        height: 100vh;
    }
    .navbar-nav{
        padding-bottom: calc(100vh - 301px);
    }
    .navbar-brand{
        height: 50px;
        width: auto;
        margin-left: 1rem;

    }
    .navbar-list{
        margin: 0!important;
    }
}
/*FIN NAVBAR*/

/*INICIO HEADER*/
.header{
    height: 784px;
    background-color: var(--background-color);
    background-image: url("../../assets/texturaCacao.png");
    background-size: 50%;
}
.comelon{
    width: 408px!important;
    height: auto;
    filter: drop-shadow(5px 5px 0 #00000048);
}
@media screen and (max-width: 1000px) {
    .comelon{
        width: 300px!important;
    }
    .header{
        height: fit-content;
        padding-bottom: 3rem;
    }
    .textContainer{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 600px) {
    .comelon{
        width: 210px!important;
    }
    .comelonCont{
        margin-top: 30px!important;
        margin-bottom: 30px!important;
        margin-left: 2rem!important;
        padding:0!important;
    }
    /*.textBubble{
        width: 70px;
    }
    .textBubble:after{
        font-size: 15px;
        font-family: 'Atma', system-ui;
        font-weight: 550;
        color: #ac5714 !important;
        text-transform: uppercase!important;
        content: "Que ven mis ojos?";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: var(--background-color-focus)!important;
        height: 70px;
        width: 170px;
        border-radius: 50%;
        transform: translateX(-40px) translateY(-110px);
        border: solid #c67700 4px !important ;
    }
    .textBubble:before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 70px solid transparent;
        border-bottom: 40px solid #c67700 !important;
        transform: rotate(-20deg) translateY(-100px) translateX(-30px);
        border-radius: 50%;
    }*/
    .header{
        height: fit-content;
        padding-bottom: 70px;
    }
}
/*FIN HEADER*/

/*INICIO CONTENT*/
.containerCertificados{
    border-radius: 16px;
    max-width: 80%;
    background-color: #FFD9A010;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 91px;
}
.certificadosCont{
    min-height: 784px;
    background-color: var(--medium-chocolate-color);
    background-image: url("../../assets/texturaCacao.png");
    background-size: 50%;
    padding-inline: 80px;
    box-shadow: inset 0px 2px 80px #00000030;
}
.certificadosBox{
    border-radius: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    height: fit-content;
    padding: 20px;
    justify-content: space-around;
}
.imgCertificado{
    height: auto!important;
    width: 100%!important;
    max-width: 150px!important;
    transition: width 0.6s ease-in-out, height 0.6s ease-in-out, border-radius 0.1s ease-in-out;
    border-radius: 8px;
    padding: 0!important;
    flex-direction: column;
    overflow: hidden;
}
.imgCertificadoText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgCertificadoCont>img{
    width: auto;
    height: 120px;
}
.tituloCertificado{
    color: #7D411D;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    .imgCertificado{
        max-width: 100px!important;
    }
    .descriCertificado{
        display: none;
    }
}
@media screen and (max-width: 1420px) {
    .certificadosBox{
        height: fit-content;
        justify-content: center!important;
    }
}
.categoria:hover{
    cursor: pointer;
    background-color: var(--background-color-focus);
}
.singProduCont{
    margin-bottom: 3rem;
}
.cont-full{
    height: 117px;
    background-color: #ffd9a02d;
}
.singProdu{
    height: fit-content;
    position: relative;
    overflow: clip;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 523px;
    background: linear-gradient(-90deg, var(--background-color) 0%, #823B07 100%);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.5s;
    background-position: 40% 100%;
    background-repeat: no-repeat;
    background-size: 900% ;
    gap: 1.2rem;
}
.singProdu:hover{
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.35);
    cursor:pointer;
}
.nombreProdu{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--white-color)!important;
    text-align: start;
    width: 215px;
    text-wrap: wrap;
    letter-spacing: 2px;
}
.descriProdu{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
    color: var(--white-color)!important;
    text-align: start;
    width: 200px;
    text-wrap: wrap;
    letter-spacing: 2px;
}
.btn-product{
    font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--orange-dark-color);
    border: none;
    outline: none;
}
.productCont{
    justify-content: flex-start;
    min-height: 1062px;
}
.btn-product:hover{
    cursor: pointer;
    background-color: var(--background-color-focus);
}
.icon-heart:hover{
    cursor: pointer;
    scale: 1.02;
}
.icon-heart{
    z-index: 10;
    transition: scale 0.3s ease-in-out;
    font-size: 25px;
    position: absolute;
    top: 8%;
    right: 8%;
    transform: translateY(-50%);
    color: var(--dark-chocolate-color);
}

.btn-orange{
    width: fit-content;
    background-color: #ED6A0B;
    color: var(--white-color);
    padding: 5px 10px;
    border-radius: 8px;
}
.locationCont{
    width: 100%!important;
    height: 100%!important;
    max-width: 460px;
    max-height: 480px;
    min-height: 480px;
    background: linear-gradient(180deg, #823B07 0%, var(--background-color) 100%);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvasCont{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.canvasCont>iframe{
    border-radius: 8px 8px 0px 0px;
}
.contTextoLocation{
    width: 100%;
    padding-block: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 0px 0px 8px 8px;
}
.contTextoLocation>div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*FIN CONTENT*/
/*INICIO FOOTER*/
.footer{
    background-color: var(--background-color);
    height: 250px;
    fill: var(--dark-chocolate-color);
    background-size: 924px auto;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 4rem;
    margin-top: 50px!important;
}
.footer-brand{
    height: 70px!important;
    filter: brightness(750%);
    width: auto;
}
.footer-brand:hover{
    cursor: pointer;
}
.icon-social{
    height: 35px;
    fill: #5F3624;
}
.icon-socialF{
    height: 42px;
    filter: brightness(500%);
}
.social{
    padding-right: 1rem !important;
    gap: 1.5rem;
}
.footer-content{
    justify-content: space-between;
    align-items: end;
}
.col-xl-1-m{
    width: 15%!important;
}
@media screen and (max-width: 1500px) {
    .col-xl-1-m{
        width: 20%!important;
    }
}

@media screen and  (max-width: 990px){
    .col-xl-1-m{
        width: 35%!important;
    }
}
@media screen and (max-width: 750px){
    .col-xl-1-m{
        width: 54%!important;
    }
}
@media screen and (max-width: 576px){
    .col-xl-1-m{
        width: 66.6666666%!important;
    }
}
@media screen and  (max-width: 480px){
    .col-xl-1-m{
        width: 100%;
        flex: 0 0 auto;
    }
}
@media screen and (max-width: 990px) {
    .icon-social{
        height: 30px;
    }
    .icon-socialF{
        height: 37px;
    }
    .footer-brand{
        height: 60px!important;
    }

}
@media screen and (max-width: 700px) {
    .footer{
        padding-bottom: 2rem;
        background-size: 724px auto;
    }
    .footer-brand{
        height: 50px!important;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center!important;
        align-items: center!important;
        border:none!important;
    }
    .footer-content>*{
        padding: 0 !important;
    }
    .social{
        padding-top: 1rem !important;
        width: 20rem;
        gap: 4rem !important;
        margin-top: 1rem !important;
        border-top: solid 2px var(--medium-chocolate-color);
    }
}

/*FIN FOOTER*/
