@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
/*GENERALES*/
    *{
        --background-color:#FFD9A0;
        --background-color-focus: #ffd592;
        --white-color:#F5F5F5;
        --dark-chocolate-color:#350800;
        --medium-chocolate-color:#5F3624;
        --light-chocolate-color: #975127;
        --orange-dark-color:#ED6A0B;
        --orange-light-color:#F59E1C;
        font-family: 'Inter', sans-serif;
    }
    .input{
        height: 37px;
        border: 3px solid var(--background-color);
        border-radius: 0.6rem;
        font-size: 15px;
        padding-inline: 15px;
        color: var(--dark-chocolate-color)
    }
    .input:focus{
        outline: none;
        box-shadow: none;
        border: 3px solid var(--orange-light-color);
    }
    .textoGrande{
        font-size: 3.2vw;
        text-transform: uppercase;
        font-weight: 900;
    }

    .gradient-brown{
        background: linear-gradient(-90deg, var(--light-chocolate-color) 15%, var(--dark-chocolate-color) 100%);
        color:transparent;
        -webkit-background-clip: text;
    }
    .w-70{
        width: 70%!important;
    }
    .w-65{
        width: 65%!important;
    }

    @media  screen and (max-width: 1000px){
        .textoGrande{
            font-size: 6vw;
        }
    }
    @media  screen and (max-width: 900px){
        .textoGrande{
            font-size: 9vw;
        }
    }
.oscurecer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: none;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/*FIN GENERALES*/
/*SIDE MENU*/
.sideMenu{
    overflow: hidden;
    display: none;
    flex-direction: column;
    width: 520px;
    height: 90vh;
    position: fixed;
    margin-top: calc(50vh - (90vh / 2))!important;
    right: 0;
    background-color: color-mix(in srgb, var(--light-chocolate-color) 90%, black 10%);
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    justify-content: start;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.sideMenuTitle{
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: var(--dark-chocolate-color);
    background-image: url("../../assets/texturaCacao.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.mealName{
    font-size: 1.5rem;
}
.sideMenuTitle>h2{
    color:var(--background-color)
}
.decrementSideMenu,.incrementSideMenu{
    color: var(--white-color);
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--medium-chocolate-color);
}
.inputSideMenu{
    color: var(--white-color);
    background-color: var(--light-chocolate-color);
    text-align: center;
    width: 40px;
    outline: none;
    height: 35px;
    border: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
.btnsTitleData{
    display: flex;
    gap: 3px;
}
.sideMenuData{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--white-color);
    font-size: 1.08rem;
}
.sideMenuDataPrices{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.4rem;
    padding-inline: 30px;
}
.sideMenuDataPrices>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.separador{
    border: 1px solid;
    margin-block: 20px;
    margin-top:40px
}
.sideMenuMeals{
    min-height: 50%;
    max-height: 50%;
    width: 100%;
    overflow-Y: scroll;
    color: var(--white-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.sideMenuMealItem{
    display: flex;
    width: 100%;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--light-chocolate-color)
}
.sideMenuMealItemData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 130px;
}
.titleInfo{
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: start;
    height: 50px;
}
.titleData{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.priceTitleData{
    font-size: 1.1rem;
}
.imgMealItem>img{
    width: auto;
    height: 100px;

}
.sideMenuDataButtons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-pedido{
    background-color: var(--dark-chocolate-color);
    border: none;
    color: var(--background-color);
    width: 50%;
    height: 50px;
    border-radius: 8px;
}
.imgMealItem{
    height: 130px;
    display: flex;
    padding-inline: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--light-chocolate-color);
}
/*FIN SIDE MENU*/
/*INICIO NAVBAR*/
    .opt{
        height: fit-content;
        text-align: end;
        color: #7D411D!important;
        font-family: "Inter", sans-serif!important;
        font-size: 16px!important;
        font-weight: 900!important;
        text-transform: uppercase!important;
    }
    .current{
        color: var(--orange-dark-color)!important;
    }
    .opt:hover{
        color: #c67700!important;
        cursor: pointer;
    }
    .options{
        gap: 35px;
    }
    .navbarBox{
        padding-top: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .navbar-list{
        margin-right: 7rem;
        width: fit-content;
    }
    .icon{
        font-size: 25px!important;
    }
    .navbar-brand{
        margin-left: 5rem;
        height: 57px!important;
        width: auto;
    }
    .navbar-brand:hover{
        cursor: pointer;
    }
    @media screen and (max-width: 990px) {
        .opt{
            margin-right: 0;
            margin-top: 0.6rem;
            background-color: var(--light-chocolate-color) !important;
            width: calc(100vw - 3rem);
            border-radius: 0.8rem;
            color: white!important;
            font-size: 12px!important;
            font-weight: 600!important;
            font-family: "Inter", sans-serif;
            text-transform: uppercase;
            max-width: 400px;
        }
        .options{
            padding-top: 2rem!important;
            gap: 0;
        }
        .navbarBox{
            padding: 0!important;
            background-color: var(--background-color);
        }
        .navbar-toggler{
            margin-block: 1.4rem;
            margin-right: 1.4rem!important;
            scale: 0.8;
            border: none!important;
        }
        .navbar-toggler:focus{
            outline: none!important;
            border: none!important;
            box-shadow: none!important;
        }
        .navbar-list{
            background-color: var(--background-color);
            z-index: 100;
            top: 83px;
            right: 0;
            left: 0;
            width: 100vw;
            position: absolute;
            height: fit-content;
        }
        .navbar-nav{
            padding-bottom: calc(100vh - 301px);
        }
        .navbar-brand{
            height: 50px;
            width: auto;
            margin-left: 1rem;

        }
        .navbar-list{
            margin: 0!important;
        }
    }
/*FIN NAVBAR*/

/*INICIO HEADER*/
    .header{
        height: 454px;
        background-color: var(--background-color);
    }
/*FIN HEADER*/

/*INICIO CONTENT*/
    .main{
        padding-top:69px;
    }
    .filter-bar{
        height: 107px;
        padding-inline: 44px!important;
        padding-block: 35px;
        background-color: var(--medium-chocolate-color);
        border-radius: 1.1rem;
        background-image: url("../../assets/texturaCacao.png");
        background-attachment: fixed;
        background-size: 50% auto;
    }
    .categoria{
        user-select: none;
        font-size: 15px;
        font-weight: normal;
        text-transform: capitalize;
        padding-inline: 35px!important;
        background-color: var(--background-color);
        color: var(--dark-chocolate-color);
        border-radius: 0.6rem;
        height: 37px;
        transition: background-color 0.2s ease-in-out;
    }
    .search-container{
        position: relative;
        min-width: 254px;
    }
    .search-icon{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: var(--dark-chocolate-color);
    }
    .categoria:hover{
        cursor: pointer;
        background-color: var(--background-color-focus);
    }
    .singProduCont{
        margin-bottom: 3rem;
    }
    .singProdu{
        height: fit-content;
        position: relative;
        overflow: clip;
        padding-block: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        min-height: 350px;
        border-radius: 16px;
        background-color: #FFD9A0;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.5s;
        background-image: url('../../assets/drip.svg');
        background-position: 40% 100%;
        background-repeat: no-repeat;
        background-size: 900% ;
        gap: 1.2rem;
        padding-inline: 4px;
    }
    .text-Cont{
        justify-content: start;
        align-items:start;
    }
    .singProdu:hover{
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.35);
        cursor:pointer;
    }
    .nombreProdu{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 900;
        color: var(--orange-dark-color)!important;
        text-align: start;
        width: 215px;
        text-wrap: wrap;
        letter-spacing: 2px;
    }
    .descriProdu{
        font-size: 12px;
        text-transform: capitalize;
        font-weight: 400;
        color: var(--white-color)!important;
        text-align: start;
        width: 200px;
        text-wrap: wrap;
        letter-spacing: 2px;
    }
    .btn-Cont{
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .btn-product{
        width: 98px;
        height: 30px;
        border-radius: 10px;
        background-color: var(--background-color);
        color: var(--dark-chocolate-color);
        border: none;
        outline: none;
    }
    .productCont{
        justify-content: flex-start;
    }
    .btn-product:hover{
        cursor: pointer;
        background-color: var(--background-color-focus);
    }
    .icon-heart:hover{
        cursor: pointer;
        scale: 1.02;
    }
    .icon-heart{
        z-index: 10;
        transition: scale 0.3s ease-in-out;
        font-size: 25px;
        position: absolute;
        top: 8%;
        right: 8%;
        transform: translateY(-50%);
        color: var(--dark-chocolate-color);
    }
    .modal-content>div{
        border: none;
    }
    .modal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--light-chocolate-color)!important;
    }
    .fa-x{
        color: var(--light-chocolate-color)!important;
    }
    .modal-content{
        background-color: var(--dark-chocolate-color) !important;
    }
    .categoria-clear{
        border: 1px solid var(--light-chocolate-color);
        background-color: var(--white-color);
    }
    .btn-filtro{
        display: none;
    }
    .btn-modal-sec{
        background-color: var(--background-color)!important;
        color: var(--light-chocolate-color)!important;
        border: 1px solid var(--light-chocolate-color)!important;
    }
    .btn-modal-prin{
        background-color: var(--light-chocolate-color)!important;
        color: var(--background-color)!important;
    }
    @media screen and (max-width: 1500px){
        .filter-bar{
            width: 100%!important;
            border-radius: 0;
            height: 120px;
        }
        .main{
            padding-top: 0;
        }
    }
    @media screen and (max-width: 1150px){
        .filter-bar{
            width: 100%!important;
            border-radius: 0;
            height: 200px;
            flex-direction: column-reverse;
        }
        .search-container{
            margin: 0!important;
        }
        .main{
            padding-top: 0;
        }
    }
    @media screen and (max-width: 910px)
    {
        .search-icon{
            right: 110px;
        }
        .btn-filtro{
            display: inline-block!important;
        }
        .btn-Cont{
            width: 90% ;
        }
        .nombreProdu{
            text-align: center;
        }
        .descriProdu{
            text-align: center;
        }
        .filter-bar{
            height: fit-content;
        }
        #categorias{
            display: none!important;
        }
        .search-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .text-Cont{
            justify-content:center;
            align-items: center;
        }
        .productCont{
            justify-content: center!important;
        }
    }
/*FIN CONTENT*/
/*INICIO FOOTER*/
    .footer{
        background-color: var(--background-color);
        height: 250px;
        fill: var(--dark-chocolate-color);
        background-image: url('../../assets/dripUpside.svg');
        background-size: 924px auto;
        background-repeat: repeat-x;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 4rem;
    }
    .rectangle{
        height: 65px;
        width: 100%;
        background-color: #B87F5B;
    }
    .footer-brand{
        height: 70px!important;
        width: auto;
    }
    .footer-brand:hover{
        cursor: pointer;
    }
    .icon-social{
        height: 35px;
        fill: #5F3624;
    }
    .icon-socialF{
        height: 42px;
    }
    .social{
        padding-right: 1rem !important;
        gap: 1.5rem;
    }
    .footer-content{
        justify-content: space-between;
        align-items: end;
    }
    @media screen and (max-width: 990px) {
        .icon-social{
            height: 30px;
        }
        .icon-socialF{
            height: 37px;
        }
        .footer-brand{
            height: 60px!important;
        }
    }
    @media screen and (max-width: 700px) {
        .footer{
            padding-bottom: 2rem;
            background-size: 724px auto;
        }
        .footer-brand{
            height: 50px!important;
        }
        .footer-content{
            display: flex;
            flex-direction: column;
            justify-content: center!important;
            align-items: center!important;
            border:none!important;
        }
        .footer-content>*{
            padding: 0 !important;
        }
        .social{
            padding-top: 1rem !important;
            width: 20rem;
            gap: 4rem !important;
            margin-top: 1rem !important;
            border-top: solid 2px var(--medium-chocolate-color);
        }
    }
#sizeCart{
    font-size: 1rem!important;
}
/*FIN FOOTER*/
